{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div 
    class="min-h-screen flex flex-col items-center justify-center bg-cover bg-center" 
    style="background-image: url('{{ MEDIA_URL }}/media/item_images/image.jpg');">
    
    <!-- <div class="text-center w-3/4 lg:w-1/2 my-10 p-8 bg-white/70 backdrop-blur-md border border-gray-300 shadow-lg rounded-2xl"> -->
    <div class="text-center w-3/4 lg:w-1/2 my-22 p-16 bg-white/70 backdrop-blur-md border border-gray-300 shadow-lg rounded-2xl">

        <h1 class="text-center text-3xl text-gray-800 font-bold mb-6">Contact Admins</h1>

        <!-- Admin 1 -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-blue-600">Deepak Yadav</h2>
            <p class="mt-2">Email: 
                <a href="mailto:deepak12@gmail.com" class="text-red-500 hover:underline">deepak12@gmail.com</a>
            </p>
            <p>Phone: 
                <a href="tel:+9821281212" class="text-green-600 hover:underline">9821281212</a>
            </p>
        </div>

        <!-- Admin 2 -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-blue-600">Sakar Kharel</h2>
            <p class="mt-2">Email: 
                <a href="mailto:sakar12@gmail.com" class="text-red-500 hover:underline">sakar12@gmail.com</a>
            </p>
            <p>Phone: 
                <a href="tel:+9821892823" class="text-green-600 hover:underline">9821892823</a>
            </p>
        </div>

        <!-- Admin 3 -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-blue-600">Deepti Bhatta</h2>
            <p class="mt-2">Email: 
                <a href="mailto:deepti12@gmail.com" class="text-red-500 hover:underline">deepti12@gmail.com</a>
            </p>
            <p>Phone: 
                <a href="tel:+9803813213" class="text-green-600 hover:underline">9803813213</a>
            </p>
        </div>

        <!-- Admin 4 -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-blue-600">Sarika Shrestha</h2>
            <p class="mt-2">Email: 
                <a href="mailto:sarika12@gmail.com" class="text-red-500 hover:underline">sarika12@gmail.com</a>
            </p>
            <p>Phone: 
                <a href="tel:+9712892821" class="text-green-600 hover:underline">9712892821</a>
            </p>
        </div>

        <!-- Admin 5 -->
        <div>
            <h2 class="text-2xl font-semibold text-blue-600">Anshu Basnet</h2>
            <p class="mt-2">Email: 
                <a href="mailto:anshu12@gmail.com" class="text-red-500 hover:underline">anshu12@gmail.com</a>
            </p>
            <p>Phone: 
                <a href="tel:+9833131123" class="text-green-600 hover:underline">9833131123</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
